* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background-color: #f6f0d7;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  height: 80vh;
  width: 40%;
  background-color: #d5cba3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
